{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <h2>Edit Profile</h2>
        </div>

        <!-- Edit Form -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="profile-picture">
                <label for="profile_picture">Profile Picture:</label>
                {% if profile.profile_picture %}
                    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" width="150">
                {% else %}
                    <img src="{% static 'images/default_profile_pic.jpg' %}" alt="Default Profile Picture" width="150">
                {% endif %}
                <input type="file" name="profile_picture" id="profile_picture">
            </div>

            <div class="profile-info">
                <p>
                    <strong>Username:</strong>
                    <input type="text" name="username" value="{{ profile.username }}" required>
                </p>

                <p>
                    <strong>Date of Birth:</strong>
                    <input type="date" name="date_of_birth" value="{{ profile.date_of_birth|date:'Y-m-d' }}">
                </p>
            </div>

            <div class="profile-links">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>

            <!-- Delete Button -->
            <div class="delete-profile button-spacing">
                <a href="{% url 'delete-profile' profile.pk %}">
                    <img
                            class="bin-img"
                            src="{% static 'images/icon-remove-22.jpg' %}"
                            alt="bin button"
                    />
                </a>
            </div>
    </div>
{% endblock %}
